{% if site.social-network-links %}
<ul class="list-inline text-center footer-links">

{%- for network in site.social-network-links -%}


  {%- if network[0] == "email" -%}
  <li class="list-inline-item">
    <a href="mailto:{{ network[1] }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
  {%- endif -%}



  {%- if network[0] == "linkedin" -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ network[1] }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
  {%- endif -%}



{%- endfor -%}

</ul>
{% endif %}
